@page "/RegistrarLibros"
@using biblioteca.Models
@inject NavigationManager NavigationManager
@using biblioteca.Data.AdminUsuarios;

@if (Usuario.correo != null && Usuario.contrasena != null)
{
<div class="container">
  <h4>Registrar</h4>

  <EditForm Model="@libro">

<div class="mb-3">
  <label for="NLibro" class="form-label">Nombre del libro</label>
  <input type="text" id = "NLibro" @bind="@libro.NombreLibro"  required>
    </div>

<div class="mb-3">
  <label for="GLibro" class="form-label">Genero del Libro</label>
  <input type="text" id = "GLibro" @bind="@libro.GeneroLibro" required>
    </div>

    <div class="mb-3">
  <label for="PLibro" class="form-label">Precio</label>
  <input type="text" id = "PLibro" @bind="@libro.Precio" required>
    </div>


    <div class="mb-3">
  <label for="CDisponibles" class="form-label">Copias Disponibles</label>
  <input type="text"  id = "CDisponibles" @bind = "@libro.CopiasDisponibles">
    </div>
    <div class="mb-3">
  <label for="VLibros" class="form-label">Ventas</label>
  <input type="text"  id = "VLibros" @bind = "@libro.Ventas">
    </div>
    <div class="mb-3">
  <label for="EditorialLibro" class="form-label">Editorial</label>
  <input type="text"  id = "EditorialLibro" @bind = "@libro.EditorialLibro">
    </div>
    <input type="submit" class = "btn btn-primary" @onclick = "Registrar" value="Registrar" >
    <a class="btn btn-danger" href="/Modulos_libros">Cancelar</a>
    
  </EditForm>
  </div>
<h6>@result</h6>
} else
            {
<div class="container">
    <h1 class="display-6">Debes Iniciar Sesion con un correo valido para Vizualizar el contenido</h1>
    <br>
    <p>
        Ya tienes una cuenta? Inicia Sesion
    </p>
    <a href="/Account/Login">Iniciar sesion</a>
</div>}

@code{
    Libros libro = new Libros();
    string result="";

protected async Task Registrar(){
    btnnoysoy5udemk46n23Context db = new btnnoysoy5udemk46n23Context();
    
    db.Libros.Add(libro);
    await db.SaveChangesAsync();
    result = "Libro registrado correctamente!!!";
    NavigationManager.NavigateTo("/Modulos_libros");
    }

}